.works-section {
  padding-top: 70px;
  padding-bottom: 70px;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 40px;
  }

  h2:after {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #333333;
    display: block;
    margin: 20px auto 0 auto;
  }
}