.component-main {

  h1 {
    font-size: 3rem;
    font-weight: 300;
  }

  p {
    max-width: 700px;
    font-weight: 100;
    margin: 20px 0 35px 0;
  }

  button {
    padding: 5px 30px;
    border: 1px solid #00000080;
    font-weight: 300;
  }

  button:hover {
    background-color: #333333;
    color: #ffffff;
  }
}